RewriteEngine On
RewriteRule ^$ /public/ [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/2011/
RewriteRule ^(.*)$ /public/$1
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^abogadosynotariosroldan.com/(.*[^/])$ http://administrador.abogadosynotariosroldan.com/$1/ [R=301]